
body {
	background-color: #2D2D2DFF;
	color:white;
	text-align: center;
	font-family: verdana;
	
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 100px;
	margin-bottom: 100px;
}



#gameContainer {
	width: 1000px;
	height: 1500px;
}

.embed {
	width: 1000px;
	height: 1500px;
	margin: 0 auto;
}

h1 {
	font-weight: bold;
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

button {
	background-color: #969696FF;
	font-color: white;
	font-size: 30px;
}

p {
	font-size: 20px;
}
