footer {
	background-color: #676767;
	
	margin-left: 0%;
	padding: 0;
	bottom: 0;
	height: 50%;
}

body {
	background-color: #2D2D2DFF;
	background-color: #676767;
	color:white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	

	
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 100px;
	margin-bottom: 100px;
	
	padding: 0;
	margin: 0;
	border: 0;
}



#gameContainer {
	/*width: 1000px;
	height: 1200px;*/
}

.embed {
	width: 1000px;
	height: 1200px;
	margin: 0 auto;
}

h1 {
	font-weight: bold;
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

button {
	background-color: #969696FF;
	font-color: white;
	font-size: 30px;
}

p {
	font-size: 20px;
}

.gallery-text {
    float: left;
    width: 48%;
    margin: 1%;
}
.gallery-text p {
    word-break: break-all;
}
