
body {
	background-color: #2D2D2DFF;
	color:white;
	text-align: center;
	font-family: verdana;

	margin: auto;
	
}

#gameContainer {
	background-color: green;

}

h1 {
	font-weight: bold;
}

button {
	text-align = left;
}

p {
	text-align: center;
	text-size: 20;
}